<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
  <input type="hidden" name="paymentDetailId" [value]="service.formData.paymentDetailId">

  <div class="form-group">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">
        <fa-icon [icon]="user"></fa-icon>
      </span>
      <input type="text" class="form-control form-control-lg" placeholder="Full Name" aria-label="Username"
        aria-describedby="basic-addon1" name="cardOwnerName" #cardOwnerName='ngModel'
        [(ngModel)]='service.formData.cardOwnerName' required>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">
        <fa-icon [icon]="creditCard"></fa-icon>
      </span>
      <input type="tel" ccNumber #ccNumber="ccNumber"
      class="form-control form-control-lg"
      placeholder="16 Digit Card Number"
      name="cardNumber"
        #cardNumber="ngModel" [(ngModel)]="service.formData.cardNumber"

        >
        <span class="scheme">{{ccNumber.resolvedScheme$ | async}}</span>
    </div>
    <!-- <input type="tel" ccNumber #ccNumber="ccNumber">
    <span class="scheme">{{ccNumber.resolvedScheme$ | async}}</span> -->
    <!-- <input id="cc-exp-date" type="tel" autocomplete="cc-exp" ccExp> -->
    <!-- <input id="cc-cvc" type="tel" autocomplete="off" ccCVC> -->
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group md-3">
        <span class="input-group-text" id="basic-addon1">
          <fa-icon [icon]="calendar"></fa-icon>
        </span>
        <input id="cc-exp-date" type="tel" autocomplete="cc-exp" ccExp
        class="form-control form-control-lg"
        placeholder="MM/YYYY" name="expirationDate"
          #expirationDate="ngModel" [(ngModel)]="service.formData.expirationDate"
          >
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group md-3">
        <span class="input-group-text">
          <fa-icon [icon]="key"></fa-icon>
        </span>
        <input type="password"
        class="form-control form-control-lg"
        placeholder="CCV" name="securityCode"
          #securityCode="ngModel" [(ngModel)]="service.formData.securityCode" required maxlength="3" minlength="3">
      </div>
    </div>
  </div>
  <div class="d-grid gap-2">
    <button class="btn btn-lg btn-block btn-info" type="submit" [disabled]="form.invalid">SUBMIT</button>
  </div>
</form>
